body{
    background-color: rgb(87, 86, 86);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.title{
    width: 100%;
    margin: 0%;
    border: 0;
}
.desk{
    width: 60%;
    border-radius: 500px;
    border: 10px solid rgb(63, 60, 60);
    margin: 5% 20%;
}
.graphic{
    width: 60%;
    border-radius: 500px;
    border: 10px solid rgb(63, 60, 60);
    margin: 5% 20%;
}
.tod{
    width: 60%;
    border-radius: 500px;
    border: 10px solid rgb(63, 60, 60);
    margin: 5% 20%;
}