* {box-sizing: border-box}
.mySlides {display: none; 
width: 1000px}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

#content{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #7d553e;
}
#plan_content{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #7d553e; 
}
#material_content{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #7d553e;
}
header{
  background-color:#396E94;
  opacity: .9;
  display: grid;
  grid-template-columns: 150px auto;
  padding: 5px;
}
.logo{
  height: 80px;
}
#logo_link{
  padding-top: 5px;
  align-self: center;
}
#class{
  height: 10px;
  width: 20px;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav a{
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}
nav a:hover{
  background-color: #46acc2;
  color: #d9c2a3;
}
body{
  margin: 0;
  padding: 0;
}
#info{
  padding: 50px;
}
footer{
  background-color: #396E94;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: #46acc2;
}
footer p{
  font-size: 1.2em;
}
footer p a:hover{
  text-decoration: underline;
}
.slide{
  height: auto;
}
.facebook{
  height: 100px;
}


.plans{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 25px;
  padding-top: 25px;
  padding-left: 10px;
}
img{
  height: 200px;
}
span{
  font-weight: bold;
}

.materials{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  margin: 10px;
}
.heading{
  grid-column: 1/7;
  text-align: center;
}
.exterior{
  grid-column: 1/4;
  text-align: center;
}
.interior{
  grid-column: 4/7;
  text-align: center;
}
.faucet{
  grid-column: 1/4;
  text-align: center;
}
.window{
  grid-column: 4/7;
  text-align: center;
}